@import url(global.css);

/*Header*/

#primary {
  padding-block: 20px;
  padding: 20px;

  div:nth-child(2) {
    margin-inline: auto;
  }

  div:nth-child(3) {
    justify-self: end;
  }
}

#secundary {
  padding-block: 14px;
  border: solid 1px var(--stroke-color);
  border-inline: none;
  text-align: center;
}

#ai {
  img {
    height: 160px;
  }
}

#more {
  img {
    height: 72px;
    width: 72px;
  }

  h3 {
    margin-top: 8px;
  }
}

#ads {
  margin-top: 50px;
  img {
    width: 100%;
    height: 100%;
    padding: 20px;

    object-fit: contain;
  }
}